{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_title %}
    Update Post
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <br>
            {% crispy form %}
        </div>
    </div>
	<script type="text/javascript">
	var example_form = '.post-form';
	$.ajax({
		url: "{% url 'new-post' %}",
		type: "POST",
		data: $(example_form).serialize(),
		success: function(data) {
		if (data['success']) {
		// Here we replace the form, for the
			parent.window.frames['pdf_viewer'].refreshAnnotations();
			parent.window.frames['post_pane'].location = data['url'];
			alert('success');
			//$(example_form).replaceWith(data['form_html']);
		}
		else {
		// Here you can show the user a success message or do whatever you need
			//$(example_form).find('.success-message').show();
			//alert('failure');
		}
		},
		error: function () {
			//$(example_form).find('.error-message').show()
			//alert('failure');
		}
	});
	</script>

    {# Disable rich text editing for preformatted posts #}
    {%  if not pre %}
        <script src="/static/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('id_content', {
                customConfig: '/static/ck_config-v2.js'
            });
        </script>
    {%  endif %}

{% endblock %}
